:root {
    --percent: 0;
    --white-color: #fff;
    --base-volume-thumb: 1rem;
    --primary-color: #5ced4d;
    --text-color: #b2b2b2;
    --black-color: #000;
    --btn-not-hover-color: #b3b3b3;
    --active-menu-color: #333;
    --playbar-color: #222;
    --grey-color: #555;
    --dark-grey: #172b30;
    --side-bar-width: 16.65%;
    --content-body-color: #121212;
    --playlist-height: 285px;
    --playbar-height: 90px;
    --width-1: 10%;
    --width-2: 10px;
    --width-3: 10px;

    /* background: linear-gradient(120deg, rgba(18,18,18,1), rgba(18,18,18,1) 90%, rgba(18,18,18,0.9) 100%); */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; /*10px*/
    line-height: 1.6rem;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 15px;  
  } 
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #555; 
}
::-webkit-scrollbar-thumb:hover {
    background: #888; 
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInText {
    from {
        color: var(--text-color);
    }
    to {
        color: var(--white-color);
    }
}

@keyframes fadeInBrightness {
    from {
        filter: brightness(1);
    }
    to {
        filter: brightness(1.2);
    }
}

@keyframes fadeInBackgroundColor {
    from {
        filter: brightness(1);
    }
    to {
        filter: brightness(1.2);
    }
}

@keyframes fadeInSVG {
    from {
        fill: var(--text-color);
    }
    to {
        fill: var(--white-color);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeOutText {
    from {
        color: var(--white-color);
    }
    to {
        color: var(--text-color);
    }
}

@keyframes fadeUpImgView {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-33%);
    }
}

@keyframes shake{
    0%{
        transform: translateX(0)
    }

    25% {
        transform: translateX(-50px)
    }

    75% {
        transform: translateX(50px)
    }

    100%{
        transform: translateX(0);
    }
}

@keyframes subHeaderTranslate {
    from {
        transform: translateY(-101px)
    }
    to {
        transform: translateY(0)
    }
}

@keyframes moveX {
    0% {
        transform: translateX(0)
    }
    100% {
        transform: translateX(25px);
    }
}

@keyframes circularMotion1 {
    0% {
        opacity: 0;
        transform: rotate(90deg) translateX(40px) rotate(-90deg) scale(1);
    } 
    50% {
        opacity: 1;
        transform: rotate(180deg) translateX(55px) rotate(-180deg) scale(1.3)
    }
    100% {
        opacity: 0;
        transform: rotate(260deg) translate(70px) rotate(-260deg) scale(1.7) rotate(45deg) rotate(50deg);
    }
}

@keyframes circularMotion2 {
    0% {
        opacity: 0;
        transform: rotate(90deg) translateX(40px) rotate(-90deg) scale(1);
    } 
    50% {
        opacity: 1;
        transform: rotate(175deg) translateX(57.5px) rotate(-175deg) scale(1.3)
    }
    100% {
        opacity: 0;
        transform: rotate(260deg) translate(75px) rotate(-260deg) scale(1.7) rotate(45deg) rotate(-50deg);
    }
}

@keyframes circularMotion3 {
    0% {
        opacity: 0;
        transform: rotate(90deg) translateX(40px) rotate(-90deg) scale(1);
    } 
    50% {
        opacity: 1;
        transform: rotate(180deg) translateX(55px) rotate(-180deg) scale(1.3)
    }
    100% {
        opacity: 0;
        transform: rotate(260deg) translate(70px) rotate(-260deg) scale(1.7) rotate(45deg) rotate(50deg);
    }
}

@keyframes circularMotion4 {
    0% {
        opacity: 0;
        transform: rotate(90deg) translateX(40px) rotate(-90deg) scale(1);
    } 
    50% {
        opacity: 1;
        transform: rotate(175deg) translateX(57.5px) rotate(-175deg) scale(1.3)
    }
    100% {
        opacity: 0;
        transform: rotate(260deg) translate(75px) rotate(-260deg) scale(1.7) rotate(45deg) rotate(-50deg);
    }
}

@keyframes riseUpBtn {
    from {
        transform: translateY(20px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes sliderText {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(calc(-1 * var(--width-1)))
    }
    85% {
        transform: translateX(calc(var(--width-1) / 2))
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes sliderTextMedium {
    to {
        transform: translate(var(--width-2));
    }
}

@keyframes sliderTextMediumAuthor {
    to {
        transform: translate(var(--width-3));
    }
}