@media (max-width: 92.75em) {
    .app-content-header-container-item {
        width: 250px;
    }
}

@media (min-width: 63.9375em) and (max-width: 91em) {
    .app-content-header-slider-box.col.l-4.l-search-mod {
        flex: 0 0 33.3%;
        max-width: 33.6%;
    }

    .app-content-header-search-slider-item-title {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
}

@media (max-width: 81.25em) {
    .app-content-header-container-item {
        width: 240px;
    }
}

@media (max-width: 78.125em) {
    .app-content-header-container-item {
        width: 220px;
    }
}

@media (max-width: 70.5em) {
    .app-content-header-container-item {
        width: 200px;
    }

    .app-content-header-container-item-title {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
}

@media (max-width: 69.5em) {
    .app-content-header-container-item {
        width: 220px;
    }
}

@media (min-width: 46.25em) and (max-width: 69.5em) {
    .app-content-header-container-item-contain.col.l-3.l-header-mod {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .app-content-header-container-item {
        width: 290px;
    }

    .app-content-header.home {
        min-height: 550px;
    }

}


@media (min-width: 69.5625em) and (max-width: 82.5em) {
    .app-content-header-body-item-contain.col.l-2.l-mod {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .app-content-header-body-item-container.row {
        justify-content: center;
    }
}

@media (max-width: 69.5625em) {
    :root{
        --side-bar-width: 25%;
    }
    .side-bar {
        flex: 0 0 25%;
        max-width: 25%;
        justify-content: unset;
    }
    .app-install-box {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media (min-width: 46.25em) and (max-width: 63.9375em) {
    :root{
        --side-bar-width: 25%;
    }

    .app-content-header-container-item {
        width: 100%;
    }

    .side-bar {
        flex: 0 0 25%;
        max-width: 25%;
        bottom: 0;
    }

    .app-content {
        height: 100%;
    }
    
    .app-playlist {
        display: none;
    }

    .app-my-playlist {
        display: none;
    }

    .app-install {
        display: none;
    }

    .app-install-box {
        display: none;
    }

    .app-play-bar {
        flex-direction: column;
        flex: 0 0 25%;
        max-width: 25%;
        height: 60%;
        background-color: var(--black-color);
        padding: 0;
    }

    .app-play-bar-group {
        display: flex;
        flex-direction: column;
    }

    .app-play-bar-song {
        flex-direction: column;
        width: 100%;
    }
    
    .app-play-bar.playing .app-play-bar-song {
        transform: none;
        transition: none;
    }

    .app-play-bar-song-thumb-group-mobile-tablet {
        width: 100%;
        display: flex;
        padding: 0 15px;
        flex-direction: column;
    }

    .app-play-bar-song-thumb-group {
        width: 100%;
        display: none;
    }

    .app-play-bar-song-details {
        margin-top: 20px;
    }

    .app-play-bar-song-thumb-mobile-tablet {
        padding-top: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .app-play-bar-song-thumb-group ~ .app-play-bar-song-details {
        display: none;
    }

    .app-play-bar-control {
        width: 100%;
        padding: 15px;
        margin-bottom: auto;
    }

    .app-play-bar-control .control {
        margin: 0 0 10px 0;
        flex-wrap: wrap;
    }

    .control .btn-random,
    .control .btn-repeat {
        display: none;
    }

    .control .btn-toggle-play {
        justify-content: center;
        margin: 0 auto;
    }

    .app-play-bar-control .control-time-group {
        display: flex;
        margin: 0;
        width: unset;
    }

    .control-time-group .progress {
        align-self: stretch;
        min-width: 100px;
    }

    .control-time-group .control-time-lapse,
    .control-time-group .control-time-duration {
        display: none;
    }

    .app-play-bar-volume {
        display: none;
    }

    .app-content-body-list-header-album,
    .app-content-body-list-header-date-added,
    .app-content-body-list-header-time-added,
    .app-content-body-list-item-album,
    .app-content-body-list-item-date-added,
    .app-content-body-list-item-duration {
        display: none;
    }

    .app-content-sub-header {
        right: 0;
    }

    .app-content-sub-header-bottom {
        justify-content: unset;
    }
    
    .app-content-header-type {
        display: none;
    }

    .app-content::-webkit-scrollbar,
    .app-content-header-statistic-user,
    .app-content-header-statistic-liked,
    .app-content-header-statistic-total-songs,
    .app-content-header-description,
    .app-content-header-statistic-total-time:before,
    .app-content-sub-header-bottom {
        display: none;
    }

    .app-content-header-image-album {
        display: flex;
        justify-content: center;
        margin: 0 0 20px 0;
    }

    .app-content-header-image {
        height: 270px;
        width: 270px;
    }

    .app-content-header-name {
        font-size: 2rem;
        line-height: 2rem;
    }

    .app-content-header-name {
        margin-left: 60px
    }

    .app-content-header-statistic {
        margin: 10px 0 10px 60px;
    }

    .app-content-header {
        min-height: 440px;
    }

    .app-content-header-group {
        display: flex;
        flex-direction: column;
    }

    .app-content-header-background {
        background-image: linear-gradient(rgba(0,0,0,.4) 0,var(--content-body-color) 90%, var(--content-body-color) 100%);
        background-color: rgb(80, 152, 168);
    }

    /* .app-content-header-background-overlay {
        background: transparent;
    } */

    .app-content-body {
        background: var(--content-body-color);
    }

    .app-content-body-playbar {
        position: relative;
        padding: 5px 25px;
    }

    .app-content-body-playbar-control {
        position: absolute;
        right: 0;
        top: 0;
        transform: translateY(-50%);
        margin-right: 25px;
    }

    .app-content-header-profile {
        display: none;
    }

    .app-content-sub-header-top {
        padding: 23px 0;
        justify-content: center;
    }

    .btn-play-header-random {
        position: absolute;
        bottom: 0;
        margin: 0;
        transform: translateY(50%);
        right: 0;
        height: 56px;
        width: 56px;
        margin-right: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
    }
    
    .app-content-header-search-group {
        display: flex;
    }

    .app-content-body-list-item-song {
        width: 100%;
    }

    .btn-content-playbar {
        display: none;
    }

    .btn-content-playbar-random {
        display: flex;
    }

    .app-content-header-body-item {
        width: 100%;
    }

    .app-content-header-body-item-container.row {
        flex-wrap: nowrap;
        overflow-x: scroll;
    }

    .app-content-header-body-item-container.row::-webkit-scrollbar {
        display: none;
    }

    .app-content-header-body-item-contain.col.l-2.l-mod {
        flex: 0 0 30%;
        max-width: 30%;
    }

    .app-content-header-home-title {
        font-size: 3rem;
        line-height: 3rem;
    }

    .app-content-header-slider-group {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .app-content-header-slider-box.col.l-4.l-search-mod {
        flex: 0 0 50%;
        max-width: 50%;
        width: 100%;
        margin-top: 10px;
    }

    .app-content-header.search {
        min-height: 600px;
    }

    .app-content-header-search-container {
        margin: 0;
    }

    .app-content-header-search-container-box {
        height: 100%;
        margin-top: 70px;
    }

    .slider-control-right {
        display: none;
    }

    .app-content-header-slider-group {
        overflow: unset;
    }

    .app-content-header-search-slider-item-title {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
}

@media (max-width: 46.1875em) {
    .app-logo,
    .app-playlist,
    .app-my-playlist,
    .app-play-bar .btn-random,
    .app-play-bar .btn-prev,
    .app-play-bar .btn-next,
    .app-play-bar .btn-repeat,
    .control-time-group,
    .app-play-bar-volume,
    .app-install,
    .app-install-box,
    .app-play-bar-song-thumb,
    .app-play-bar-song-view,
    .note-1,
    .note-2,
    .note-3,
    .note-4,
    .app-content::-webkit-scrollbar,
    .app-content-header-profile,
    .app-content-body-list-header-album,
    .app-content-body-list-item-album-link,
    .app-content-body-list-header-date-added,
    .app-content-body-list-item-date-added,
    .app-content-body-list-header-time-added,
    .app-content-body-list-item-duration,
    .btn-content-playbar,
    .app-content-sub-header-bottom,
    .app-content-header-type {
        display: none;
    }

    .container {
        height: 100%;
        background-color: red;
    }

    .app-content-body {
        background-color: var(--content-body-color);
    }

    .app-content-body-list-item-song {
        width: 100%;
    }

    .app-content-sub-header {
        left: 0;
        right: 0;
    }
    
    .side-bar {
        flex: 0 0 100%;
        max-width: 100%;
        bottom: 0;
        top: unset;
        right: 0;
        height: 66px;
        background: rgb(18,18,18);
        justify-content: center;
    }

    .app-menu {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 10px 0 0 0;
    }

    .app-menu-link {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .app-menu-item-title {
        margin: 5px 0 0 0;
    }

    .app-menu-item.active {
        background-color: transparent;
    }

    .app-content {
        left: 0;
        bottom: 125px;
    }

    .app-play-bar {
        bottom: 60px;
        height: 65px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgb(18, 18, 18);
        backdrop-filter: blur(10px);
    }

    .app-play-bar-container {
        justify-content: space-between;
        background-color: rgb(70, 53, 53);
        border-radius: 4px;
    }

    .app-play-bar-group {
        margin-top: 10px;
        justify-content: space-between;
    }

    .app-play-bar.playing .app-play-bar-song {
        transform: unset;
        transition: unset;
    }

    .control {
        margin: 0;
    }

    #progress-mobile {
        display: block;
        margin: 10px 15px 0;
    }

    .progress.playbar-mobile {
        width: unset;
    }

    .app-play-bar-song-thumb-mobile {
        display: block;
        width: 35px;
        height: 35px;
        border-radius: 0;
    }

    .app-play-bar-song-name {
        font-size: 1.3rem;
        line-height: 1.3rem;
    }

    .app-play-bar-song-author {
        font-size: 1.1rem;
        line-height: 1.1rem;
    }

    .btn-toggle-play,
    .app-play-bar.playing .btn-toggle-play {
        background-color: transparent;
        color: var(--white-color);
    }

    .app-content-body-playbar {
        position: relative;
        padding: 5px 15px;
    }

    .app-content-body-list {
        padding: 0 15px;
    }

    .app-content-body-list-songs {
        padding: 0 15px;
    }

    .app-content-body-playbar-control {
        position: absolute;
        right: 0;
        top: 0;
        transform: translateY(-50%);
        margin-right: 25px;
    }

    .btn-content-playbar-random {
        display: flex;
    }

    .btn-play-header-random {
        position: absolute;
        bottom: 0;
        margin: 0;
        transform: translateY(50%);
        right: 0;
        height: 56px;
        width: 56px;
        margin-right: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
    }

    .app-content-sub-header-top {
        padding: 23px 0;
        justify-content: center;
    }

    .app-content-header-group {
        flex-direction: column;
    }

    .app-content-header-name {
        font-size: 2rem;
        line-height: 2rem;
        margin: 10px 30px;
    }

    .app-content-header-image {
    }


    .app-content-header {
        min-height: 460px;
    }

    .app-content-header-background {
        background-image: linear-gradient(rgba(0,0,0,.4) 0,var(--content-body-color) 90%, var(--content-body-color) 100%);
        background-color: rgb(80, 152, 168);
    }

    .app-content-header-search-box {
        width: 300px;
    }

    .app-content-header-search-group {
        display: flex;
    }

    .app-content-body-react-album {
        margin: 0 15px;
    }

    .app-content-body-list-header {
        margin-bottom: 0;
    }

    .app-content-header-image-album {
        display: flex;
        justify-content: center;
    }

    .app-content-header-description,
    .app-content-header-statistic {
        font-size: 1.2rem;
        line-height: 1.2rem;
    }

    .app-content-header-description {
        line-height: 1.2rem;
        margin: 10px 30px;
    }

    .app-content-header-statistic {
        margin: 10px 30px;
    }

    .app-content-header.home {
        min-height: 450px;   
    }

    .app-content-header-slider-group {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .app-content-header-container-item-contain.col.l-3.l-header-mod {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .app-content-header-container-item {
        height: 60px;
        width: 100%;
    }

    .app-content-header-body-item-container.row {
        flex-wrap: nowrap;
        overflow-x: scroll;
    }

    .app-content-header-body-item-container.row::-webkit-scrollbar {
        display: none;
    }

    .app-content-header-home-title {
        font-size: 2rem;
        line-height: 2rem;
        margin: 0 0 10px 25px;
    }

    .app-content-header-slider-box.col.l-4.l-search-mod {
        flex: 0 0 50%;
        max-width: 50%;
        width: 100%;
        margin-top: 10px;
    }

    .app-content-header.search {
        min-height: 600px;
    }

    .app-content-header-search-container {
        margin: 0;
    }

    .app-content-header-search-container-box {
        height: 100%;
        margin-top: 70px;
    }

    .slider-control-right {
        display: none;
    }

    .app-content-header-slider-group {
        overflow: unset;
    }

    .app-content-header-search-slider-item-title {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    .app-search-body-row {
        padding: 0 22px;
    }
}